/*Colours

/* CSS HEX */
:root{
    /* --yale-blue: #134074ff;
    --berkeley-blue: #13315cff;
    --oxford-blue: #0b2545ff;
    --powder-blue: #8da9c4ff;
    --mint-cream: #eef4edff; */

    --rusty-red: #d13440ff;
    --red-pantone: #e63946ff;
    --salmon-pink: #ec9a9aff;
    --honeydew: #f1faeeff;
    --mint-green: #cdeae5ff;
    --non-photo-blue: #a8dadcff;
    --cerulean: #457b9dff;
    --lapis-lazuli: #31587aff;
    --berkeley-blue: #1d3557ff;
    --indigo-dye: #324766ff;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:var(--cerulean);
  color: var(--honeydew);
  font-family: 'Courier New', Courier, monospace;


}

li {
  margin-right: 30px;
}

li a {
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  /* background-color: var(--lapis-lazuli); */
  color: var(--honeydew);
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* color: var(--honeydew); */
  scroll-behavior: smooth;

}

header{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: var(--honeydew);


}


nav a{
    color:var(--honeydew);
    
}


nav a:hover{
    color: var(--honeydew);

}

.navBtn:hover{

    text-decoration: underline 2.5px var(--salmon-pink);

    padding:2px;
    max-height: 35px;
    
}

.navBtn.active{
    text-decoration: underline 2.5px var(--salmon-pink);
    /* padding:0px; */
}

.duration-300 {
    animation-duration: 0.3s;
    transition-duration: 0.3s;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}
.navBlock {
  display: flex;
  float: right;

}

.home {
  float: left;
}

.blockSection{
    display: flex;
    margin: 30px auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
 
    overflow:hidden;
    flex-direction: row;
 
    justify-content: center;

    /* background-color: var(--non-photo-blue); */

    border-radius: 10px;
    gap:5%;
    
}

h1 {
    font-size: 3em;
    /* color: #f0f0f0; */

    color: var(--indigo-dye);
    line-height: 1;
    margin: 10px 0;
}

h2 {
    font-size: 2em;
    color: var(--indigo-dye);
    font-weight: 900;
    line-height: 1;
    margin: 10px 0;
}

h3 {
    font-size: 1.5em;
    color: var(--indigo-dye);
    font-weight: 800;
    line-height: 1;
    margin: 10px 0;
}

p{
    font-size: 1em;
    line-height: 1;
    margin: 10px 0;
    font-weight: 550;
}



.normalText{
    color: var(--indigo-dye);
}


.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter:blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.main-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    margin: 20px;
    padding: 20px;
}

.footer{
    text-align: center;
    padding: 1px;
    background-color: var(--cerulean);
    color: var(--honeydew);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.blob-photo svg{
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 2rem;
  height:500px;
  width: 500px;
  /* z-index: 1000; */
  
}


.textsection {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: left;
    color: var(--indigo-dye);
    font-family: 'Courier New', Courier, monospace;
    gap:5px;
  
}

.experienceSection {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width:80vw;
    overflow: hidden;
    justify-content: center;
    
 
    color: var(--indigo-dye);
    font-family: 'Courier New', Courier, monospace;
    gap:5px;
  
}



.sectionHeadings{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.orgFont{
    font-family: 'Courier New', Courier, monospace;
    color: var(--indigo-dye);
    font-size: 1.2em;
    text-align: left;
    justify-content: left;
    align-items: left;
    font-weight: 700;
    text-decoration: none;
}

.orgFont:hover{
    text-decoration: underline 2.5px var(--salmon-pink);
    padding:2px;
    max-height: 35px;
}

.topnav-right {
    float: left;
    margin-left: 30px;
}

.resumeBullet{
 
    flex-direction: column;
    justify-content: left;
    padding: 25px;
    margin: 5px 0 20px 0;
    
    list-style-type: square;
    background-color: transparent;
    color: var(--indigo-dye);
    font-family: 'Courier New', Courier, monospace;
}

.jobRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.jobTitle {
  font-style: italic;
  font-weight: 700;
  font-size: 1em;
}

.jobDate {
  font-weight: 700;
  float: right;
}