/*Colours

/* CSS HEX */
:root{
    /* --yale-blue: #134074ff;
    --berkeley-blue: #13315cff;
    --oxford-blue: #0b2545ff;
    --powder-blue: #8da9c4ff;
    --mint-cream: #eef4edff; */

    --rusty-red: #d13440ff;
    --red-pantone: #e63946ff;
    --salmon-pink: #ec9a9aff;
    --honeydew: #f1faeeff;
    --mint-green: #cdeae5ff;
    --light-blue: #c1dfdeff;
    --non-photo-blue: #a8dadcff;
    --alice-blue: #e4eef1ff;
    --columbia-blue: #bbd5ddff;
    --cerulean: #457b9dff;
    --lapis-lazuli: #31587aff;
    --berkeley-blue: #1d3557ff;
    --indigo-dye: #324766ff;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:var(--cerulean);
  color: var(--honeydew);
  font-family: 'Courier New', Courier, monospace;


}

li {
  margin-right: 30px;
}

li a {
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  /* background-color: var(--lapis-lazuli); */
  color: var(--honeydew);
  
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* color: var(--honeydew); */
  scroll-behavior: smooth;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;

}


   

header{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: var(--honeydew);


}


nav a{
    color:var(--honeydew);
    
}


nav a:hover{
    color: var(--honeydew);

}

.navBtn:hover{

    text-decoration: underline 2.5px var(--salmon-pink);

    padding:2px;
    max-height: 35px;
    
}

.navBtn.active{
    text-decoration: underline 2.5px var(--salmon-pink);
    /* padding:0px; */
}

.duration-300 {
    animation-duration: 0.3s;
    transition-duration: 0.3s;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}
.navBlock {
  display: flex;
  float: right;


}

.home {
  float: left;
}

.blockSection{
    display: flex;
    margin: 30px auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
 
    overflow:hidden;
    flex-direction: row;
 
    justify-content: center;

    /* background-color: var(--non-photo-blue); */

    border-radius: 10px;
    gap:5%;
    
}

h1 {
    font-size: 3em;
    /* color: #f0f0f0; */

    color: var(--indigo-dye);
    line-height: 1;
    margin: 10px 0;
}

h2 {
    font-size: 2em;
    color: var(--indigo-dye);
    font-weight: 900;
    line-height: 1;
    margin: 10px 0;
}

h3 {
    font-size: 1.5em;
    color: var(--indigo-dye);
    font-weight: 800;
    line-height: 1;
    margin: 10px 0;
}

p{
    font-size: 1em;
    line-height: 1;
    margin: 10px 0;
    font-weight: 550;
}



.normalText{
    color: var(--indigo-dye);
}


.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter:blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 20%;
}

.main-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 20px;
    padding: 20px; */
}

.footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1px;
    background-color: var(--cerulean);
    color: var(--honeydew);
    position: relative;
    bottom: 0;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}

.blob-photo svg{
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 2rem;
  height:500px;
  width: 500px;
  /* z-index: 1000; */
  
}


.textsection {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: left;
    color: var(--indigo-dye);
    font-family: 'Courier New', Courier, monospace;
    gap:5px;
  
}

.experienceSection {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width:80vw;
    overflow: hidden;
    justify-content: center;
    
 
    color: var(--indigo-dye);
    font-family: 'Courier New', Courier, monospace;
    gap:5px;
  
}

.projectSection {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width:80vw;
    overflow: hidden;
    justify-content: center;
    
 
    color: var(--indigo-dye);
    font-family: 'Courier New', Courier, monospace;
    gap:5px;
  
}

.projectFilters {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.projectFilters button{
  background: none;
  border: 2px solid var(--non-photo-blue);
  color: var(--non-photo-blue);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.projectFilters button.active,
.projectFilters button:hover {
  background-color: var(--berkeley-blue);
  color: var(--honeydew);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  flex: 1 1 300px;
  background: var(--alice-blue);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  /* max-width: 400px; */
  min-height: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px var(--cerulean);
}

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.tags span {
  background: var(--cerulean);
  color: var(--honeydew);
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  font-size: 0.8rem;
  margin-right: 0.3rem;
}



.viewBtn{
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}


.viewBtn button{
  background: var(--salmon-pink);
  border: 2px solid var(--salmon-pink);
  /* color: var(--non-photo-blue); */
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  min-width: 45%;
}

.viewBtn button a{
  text-decoration: none;
  color: var(--honeydew);
}

.viewBtn button.active,
.viewBtn button:hover {
  background-color: var(--red-pantone);
  color: var(--rusty-red);
}

.sectionHeadings{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.orgFont{
    font-family: 'Courier New', Courier, monospace;
    color: var(--indigo-dye);
    font-size: 1.2em;
    text-align: left;
    justify-content: left;
    align-items: left;
    font-weight: 700;
    text-decoration: none;
}

.orgFont:hover{
    text-decoration: underline 2.5px var(--salmon-pink);
    padding:2px;
    max-height: 35px;
}

.topnav-right {
    float: left;
    margin-left: 30px;
}

.resumeBullet{
 
    flex-direction: column;
    justify-content: left;
    padding: 25px;
    margin: 5px 0 20px 0;
    
    list-style-type: square;
    background-color: transparent;
    color: var(--indigo-dye);
    font-family: 'Courier New', Courier, monospace;
}

.jobRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.jobTitle {
  font-style: italic;
  font-weight: 700;
  font-size: 1em;
}

.jobDate {
  font-weight: 700;
  float: right;
}


.contactSection {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width:80vw;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    
 
    color: var(--indigo-dye);
    font-family: 'Courier New', Courier, monospace;
    gap:5px;
  
}


.contactSection input{
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--cerulean);
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;

}
.contactSection textarea {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--cerulean);
  border-radius: 5px;

}

.contactSection textarea.active {
  width: 60%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--cerulean);
  border-radius: 5px;

}

.contactSection button{
  background: var(--salmon-pink);
  border: 2px solid var(--salmon-pink);
  color: var(--honeydew);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  min-width: 20%;
}


.contactSection button.active,
.contactSection button:hover {
  background-color: var(--red-pantone);
  color: var(--honeydew);
}

@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card {
    max-width: 100%;
  }

  .blockSection {
    flex-direction: column;
    width: 90vw;
  }


  .contactSection input,
  .contactSection textarea,
  .contactSection button {
    width: 80%;
  }

  .navBlock {
    display: none;
  }


  .hamburger {
    display: block !important;
    z-index: 1000;
    cursor: pointer;
    color: var(--berkeley-blue);
    width: auto;
    position:relative;
    margin: 0 0 0 0;
    /* margin-right: 15px; */
    
  }

  .mobile-nav.open {
    display: block;
  }
  .mobile-header {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 5px 25px;
    background-color: var(--cerulean);
    color: var(--honeydew);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1001;
  }
  
  .logo {
    display: block !important;
    font-size: 1rem;
    color: var(--honeydew);
    font-family: 'Courier New', Courier, monospace;
  }
}

/* @media (max-width: 480px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card {
    max-width: 100%;
  }

  .blockSection {
    flex-direction: column;
    width: 90vw;
  }

  button{
    width:100%;
  }
} */



.mobile-nav {
  display: none;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: 45px; 
  right: 0;
  background: var(--cerulean);
  padding: 20px;
  
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  z-index: 900 ;
  width: 100vw;
  /* height: 12vh; */
  align-items: center;
}

.mobile-nav a {
  color: var(--honeydew);
  text-decoration: none;
  transition: background 0.2s;
  width: 100%;
  text-align: center;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* stack vertically */
  width: 100%;
}

.mobile-nav.open {
  display: flex;
}

.hamburger {
  display: none;
  /* position: fixed; */
  z-index: 1000;
  font-size: 2rem;
  cursor: pointer;
  color: var(--non-photo-blue);
  user-select: none;
  width: auto;
  
}


.mobile-header {
  display: none;
}


.logo {
  display: none;
  font-size: 1rem;
  color: var(--honeydew);
  font-weight: bold;
  text-decoration: none;
  color: var(--honeydew);
  /* float:left; */
  font-family: 'Courier New', Courier, monospace;
}


